.filter-title {
  opacity: 0;
  text-align: center;
}

.form-button:hover .filter-title {
  opacity: 1;
  transition: opacity 2s;
}

.form-button:active .filter-title {
  opacity: 1;
  transition: opacity 2s;
}

.form-button:hover .filter-bg {
  background-size: 80%;
  transition: background-size 1s;
}

.filter-title-activated {
  opacity: 1;
  transition: opacity 2s;
  font-size: 18px;
}
