.filter-title {
  opacity: 0;
}

.form-button:hover .filter-title {
  opacity: 1;
  transition: opacity 2s;
}

.form-button:hover .filter-bg {
  background-size: 80%;
  transition: background-size 1s;
}
