.footer-container {
  padding: 10px 20px;
  width: 100vw;
  display: flex;
  height: 120px;
  justify-content: space-between;
  background-color: rgba($secondary, 0.5);
  img {
    width: 100px;
    object-fit: contain;
  }
}
.contact-details {
  margin: 0;
}

.contact-icon {
  font-size: 20px;
}

.footer-elements {
  justify-content: flex-end;
}



@media (max-width: 1224px) {
  
}

@media (max-width: 1024px) {

}
@media (max-width: 768px) {

}


@media (max-width: 480px) {
  
  .footer-container {
    justify-content: center;
    > img {
      display: none;
    }
  }
  .footer-elements {
    justify-content: center;
  }
  
}