.footer-container {
  padding: 10px 20px;
  width: 100vw;
  display: flex;
  height: 120px;
  justify-content: space-between;
  background-color: rgba($secondary, 0.5);
  img {
    width: 100px;
    object-fit: contain;
  }
}
.contact-details {
  margin: 0;
}

.contact-icon {
  font-size: 20px;
}