
.banner-image-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 160px);
  img {
    object-fit: contain;
    width: 100%;
  }
}
.banner-top {
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-image: url('background3.png');
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
  // img {
  //   width: 100%;
  //   height: 50vh;
  //   object-fit: contain;
  // }
}

.banner-center {
  // background-color: white;
  border-radius: 10px;
  background-color: white;
}


.bottom-container {

  width: 100vw;
}

.bottom-banner {
  object-fit: contain;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#container-article-title {
  // position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  border-radius: 10px;
  // background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  // text-align: justify;
  > img {
    width: 20%;
  }
}

.about-text {
  padding: 10px 30px 30px 30px;
  margin: 30px auto;
  text-align: justify;
}

#presentation {
  width: 70vw;
  margin: 0 auto;
  background-image: url("shape.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  > img {
    width: 20%;
  }
}

#team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 20px;
  background-image: url('shape.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 20px;
}



@media (max-width: 1224px) {
  
}

@media (max-width: 1024px) {
  #team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: none;
    #member-name {
      display: block;
    }
    a {
      font-size: 12px;
    }
  }
}
@media (max-width: 768px) {
  #team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: none;
    #member-name {
      display: block;
    }
    a {
      font-size: 12px;
    }
  }

  #board {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .bottom-container {
    background-image: none;
  }
  .empty-banner {
    display: none;
  }

}


@media (max-width: 480px) {
  .banner-top {
    background-size: cover;
  }

  #about {
    padding-left: 0px;
  }
  .about-text {
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    text-align: justify;
  }

  #team {
    display: grid;
    grid-template-columns: 1fr;
    background-image: none;
    #member-name {
      display: block;
    }
    a {
      font-size: 12px;
    }
  }

  .bottom-image {
    display: none;
  }

  #board {
    grid-template-columns: 1fr 1fr;
  }

  .bottom-container {
    background-image: none;
  }

  .empty-banner {
    display: none;
  }

  .banner-image-container {
    display: none;
  }

  #presentation {
    background-image: none;
  }
  
}