<div class="container">
  <div class="banner-top">
    <h1>Ethno</h1>
    <h2>Observer . Questionner . Analyser</h2>
  </div>
  <div class="banner-center">
  </div>
  <div class="banner-bottom">
  </div>
</div>