
.avatar {
  border-radius: 50%;
  background-size: cover;
  border: 2px solid $secondary;
}


.avatar-small {
  width: 50px;
  height: 50px;
}

.avatar-big {
  width: 200px;
  height: 200px;
}


#avatar-dash {
  margin: 0 auto;
  position: relative;
}
