.btn-primary {
  color: white;
  background-color: $primary;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  width: 200px;
}

#read-article {
  width: fit-content;
}