.btn-primary {
  color: white;
  background-color: $primary;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  width: fit-content;
}

.btn-secondary {
  color: $secondary;
  background-color: $base;
  border: 1px solid $secondary;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: block;
  width: fit-content;
  margin: 10px 5px;
  &:hover {
    color: $primary;
    background-color: $base;
    border: 1px solid $primary;
  }
}

#read-article {
  width: fit-content;
}
#btn-logout {
  width: fit-content;
  border: none;
  background: none;
  padding: 12px;
}

#btn-dashboard:hover {
  border: 2px solid $primary;
  transition: border 0.1s .2s;
}