.card-grid {
  display: grid;
  grid-gap: 16px;
}




.card-gnl {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.4);
}

.card-user {
  width: 300px;
  text-align: center;
  background-color: white;
}

#card-user-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

#card-grid-article {
  grid-template-columns: 1fr;
}

#card-grid-ressource {
  grid-template-columns: 1fr 1fr;
}

.card-article {
  border: 2px solid transparent;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  h3 {
    color: $secondary;
  }
}

.card-article:hover {
  border: 2px solid $secondary;
}


.card-article-img img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-ressource {
  border: 2px solid transparent;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  &:hover {
    border: 2px solid $secondary;
  }
  
}


.card-ressource-img #ressource-photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.card-article-avatar {
  position: absolute;
  top: -10px;
  left: -10px;
}

.card-ressource-avatar {
  position: absolute;
  top: -25px;
  right: 20px;
}

.card-article-content {
  display: flex;
}


.card-article-ressource {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  div {
    line-height: 1.55;
    font-size: 1rem;
    color: #383f4e;
  }
  .article-content {
    text-align: justify;
  }
}

#card-grid-partner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-partner {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  .card-partner-img img{
    width: 100%;
    object-fit: contain;
    height: 100px;
  }

}

.icons-card {
  border-radius: 50px 0px;
  background-color: $primary;
  padding: 20px;
  color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -20px -20px 0px $secondary;
  i {
    font-size: 60px;
  }
}

.list-card {
  margin: 10px;
  background-color: white;
  width: 60%;
}

#carouselExampleControls {
  margin: 0;
  width: 100%;
}

.carousel-inner { 
  width: 100%;
  text-align: center;
}

.carousel-item { 
  width: 100%;
  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
  }
}



@media (min-width: 1224px) {


}

@media (max-width: 1024px) {



}

@media (max-width: 768px) {
  .card-article-content {
    display: block;
  }
  .card-article-img img {
    width: 100%;
  }

  .card-article p {
    display: none;
  }
  #card-grid-ressource {
    grid-template-columns: 1fr;
    p {
      display: none;
    }
  }
  #card-grid-partner {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .card-article-content {
    display: block;
  }

  .card-article-img img {
    width: 100%;
  }
  .card-ressource {
    height: fit-content;
  }

  .card-article-ressource div {
    font-size: 14px;
  }
  .card-article p {
    display: none;
  }

  #card-grid-ressource {
    grid-template-columns: 1fr;
    .card-ressource {
      height: fit-content;
      p {
        display: none;
      }
    }
  }

  .carousel-item { 
    img {
      height: 30vh;
    }
  }

  #card-grid-partner {
    grid-template-columns: 1fr;
  }
}

