.content-wrapper {
  min-height: calc(100vh - 160px - 120px);
}

.container {
  width: 80vw;
  margin: 20px auto;
}

.container-80 {
  width: 80vw;
  margin: 0 auto;
}


.projects-container-home {
  .projects-card {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  i {
    font-size: 30px;
  }
  .projects-card:hover {
    transition: transform .65s cubic-bezier(.05,0.2,.1,1);
  }
}

.container-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.container-flex {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img {
    width: 400px;
  }
}

#container-user {
  background-image: url('shape.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-article {
  // background-image: url("line5.png");
  // background-repeat: no-repeat;
  width: 100vw;
  // background-size: contain;
  // background-position: top;
}

.filter-title-container {
  // background-image: url('shape1.png');
}

.container-partners {
  width: 100vw;

}

.article-container {
  display: flex;

  > div {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0)));
    flex-grow: 1;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 20px;
    background-color: white;
    margin: 20px;
    width: 250px;
    p {
      background-color: white;
      padding: 5px;

    }
  }
}

.filter-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 1501px) {

  .article-container {  
    > div {
      width: 500px;
    }
  }
}


@media (max-width: 1500px) {

  .article-container {  
    > div {
      width: 350px;
    }
  }
}

@media (max-width: 1024px) {



}

@media (max-width: 768px) {
  .article-container {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    > div {
      height: 60vh;
      padding: 20px;
      margin: 0px;
      width: 100%;
      p {
        display: block;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 90vw;
  }

  .article-container {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
    > div {
      height: 60vh;
      padding: 20px;
      margin: 0px;
      width: 100%;
      p {
        display: block;
      }
    }
  }

  .container-search {
    display: block;
  }
  
  .filter-container {
    display: none;
  }
  
}
