.navbar-ethno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.navbar-ethno > div {
  text-align: end;
}

.navbar-ethno div a {
  color: black;
  margin-right: 15px;
  text-decoration: none;
  padding: 12px;
}

#logo {
  margin-top: 20px;
}

.dropdown-container {
  position: relative;
}

.navbar-dropdown {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  top: 55px;
}