.navbar-ethno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.navbar-ethno > div {
  text-align: end;
}

.navbar-ethno div a {
  color: black;
  margin-right: 15px;
  text-decoration: none;
  padding: 12px;
}

#logo {
  margin-top: 20px;
}
