.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar > div {
  text-align: end;
}

.navbar div a {
  color: $primary;
  margin-right: 15px;
  text-decoration: none;
  padding: 12px;
}

