.video {
  width: 100%;
  margin: 0 auto;
}

.attachment {
  text-align: center;
  border: none !important;
  margin: 10px !important;
}

@media (min-width: 1224px) {
  .video {
    width: 80%;
    margin: 0 auto;
  }
  
}

@media (max-width: 1024px) {

  .video {
    width: 80%;
    margin: 0 auto;
  }
  


}

@media (max-width: 768px) {

}